.avatar {
    /* //https://www.youtube.com/watch?v=7K9kDrtc4S8&t=94s */
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    font-weight: 100;
    letter-spacing: 1px;
}
